form label {
	display: block;
	margin-bottom: var(--spacing-half);
}

form label:last-child {
	margin: 0;
}

form input {
	display: block;
	width: 100%;
	font-size: inherit;
	-webkit-appearance: none;
	border-radius: 0;
	border: 0;
	padding: var(--spacing-half);
}

form input[type="button"],
form input[type="submit"],
form button {
	background: var(--primary);
	color: var(--background);
	font-weight: bold;
	cursor: pointer;
	padding: var(--spacing-half) var(--spacing);
}

form input[type="color"] {
	padding: 0;
	min-height: 32px;
}
