:root {
	--background: #ffffff;
	--background-accent: #eeeeee;
	--foreground: #222222;
	--foreground-accent: #444444;
	--middle: #888888;
	--primary-light: #0057ad;
	--primary-dark: #00bfff;
	--secondary: #9400d3;
	--spacing: 16px;
	--spacing-half: calc(var(--spacing) / 2);
	--spacing-double: calc(var(--spacing) * 2);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #181a1b;
		--background-accent: #24282d;
		--foreground: #cfd2d6;
		--foreground-accent: #888888;
		--middle: #444444;
		--primary: var(--primary-dark);
		--secondary: #f08080;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--primary: var(--primary-light);
	}
}

@media (max-width: 500px) {
	:root {
		--spacing: 12px;
	}
}
