# System Files
/.vscode/
/.idea/
.DS_Store

# Temporary Files
/var/

# Disted Files
/.env

# Environment Files
/.env.local
/.env.*.local

# NPM Files
/node_modules/
npm-debug.log
/resources/dist/

# Go Files
__debug_bin
debug.test
